<a href="https://colab.research.google.com/github/Satyake/Deep-Learning/blob/master/MLDEPLOYMENTLR_Assignment_Canvas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import statsmodels.api as sm
import pandas as pd

In [11]:
df=sm.datasets.fair.load_pandas().data

In [12]:
df

      rate_marriage   age  yrs_married  ...  occupation  occupation_husb   affairs
0               3.0  32.0          9.0  ...         2.0              5.0  0.111111
1               3.0  27.0         13.0  ...         3.0              4.0  3.230769
2               4.0  22.0          2.5  ...         3.0              5.0  1.400000
3               4.0  37.0         16.5  ...         5.0              5.0  0.727273
4               5.0  27.0          9.0  ...         3.0              4.0  4.666666
...             ...   ...          ...  ...         ...              ...       ...
6361            5.0  32.0         13.0  ...         4.0              3.0  0.000000
6362            4.0  32.0         13.0  ...         5.0              5.0  0.000000
6363            5.0  22.0          2.5  ...         3.0              1.0  0.000000
6364            5.0  32.0          6.0  ...         3.0              4.0  0.000000
6365            4.0  22.0          2.5  ...         2.0              4.0  0.000000

[6366 rows x 9 columns]

In [13]:
df['affairs_binarized']=df['affairs']>1  #atleast one affair  #binarizing

In [15]:
df.head()

   rate_marriage   age  ...   affairs  affairs_binarized
0            3.0  32.0  ...  0.111111              False
1            3.0  27.0  ...  3.230769               True
2            4.0  22.0  ...  1.400000               True
3            4.0  37.0  ...  0.727273              False
4            5.0  27.0  ...  4.666666               True

[5 rows x 10 columns]

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
LR=LogisticRegression()
x=df.iloc[:,[0,1,2,3,4,5,6,7]].values
y=df.iloc[:,[9]].values

In [20]:
LB=LabelBinarizer()
y=LB.fit_transform(y)

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4, random_state=True)

In [23]:
LR.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
predicted=LR.predict(x_test)
from sklearn.metrics import f1_score,accuracy_score
print(accuracy_score(predicted,y_test))
print(f1_score(predicted,y_test))

0.823321554770318
0.1