<a href="https://colab.research.google.com/github/Satyake/Deep-Learning/blob/master/MLMASTERDEPLOYMENTASSIGNMENT_LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np

In [ ]:
!unzip '/content/archive.zip'

In [16]:
df=pd.read_csv('housing.csv')

In [17]:
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [37]:
x=df.iloc[:,[0,1,2]].values
y=df.iloc[:,[3]].values

In [38]:
from sklearn.linear_model import LinearRegression

In [27]:
LR=LinearRegression()
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [44]:
sc=StandardScaler()
#x=sc.fit_transform(x)
#y=sc.fit_transform(y)

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4, random_state=True)

In [50]:
LR.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [51]:
predicted=LR.predict(x_test)

In [55]:
from sklearn.metrics import r2_score,mean_squared_error
r2_score(predicted,y_test)
mean_squared_error(predicted,y_test)

0.25886640944416534